* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: #00354E; /* Navy blue background */
    color: #fff;
    height: 737px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    border-bottom: 2px solid #000000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.about-text {
    background: #ff6f3d; /* Orange background */
    padding: 40px;
    border-radius: 5px;
    width: 50%;
    color: #fff;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-text .learn-more {
    background-color: #00354E; /* Navy blue for button */
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    
}

.about-text .learn-more:hover {
    background-color: #00263a;
}

.about-image img {
    width: 210%;
    border-radius: 5px;
}

.about-image {
    width: 45%;
}
